<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page">
  <div class="title-block">
    <span class="title-bg" i18n="@@ConfirmOrder">Confirm Order</span>
  </div>
  <div class="page-body">
  <form [formGroup]="form" id="order-form" (ngSubmit)="onPay()">
    <div class="contact-block" *ngIf="account">
      <div class="title-md">
        <div class="label">
          <span i18n="@@OrderDate">Order Date</span>:
        </div>
        <span class="date">{{ delivery.date | date: 'yyyy-MM-dd'}} </span>
        <!-- <span class="time">11:45~13:00</span> -->
        <!-- <span class="time">{{delivery.date.toDate() | date: 'HH:mm'}}~{{delivery.toTime | date: 'HH:mm'}} </span> -->
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliverTo">Deliver to</span>:
        </div>
        <span class="user-col">{{account.username}}</span>
        <span class="phone-col" *ngIf="account && account.phone">{{account.phone}}</span>
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliveryAddress">Delivery Addr</span>:
        </div>
        <span class="address-text">{{address}}</span>
      </div>
    </div>

    <div class="title-md merchant" *ngIf="merchant">{{merchant.name}}</div>

    <div class="row order-detail" *ngIf="cart">
      <div class="col-7 items-col">
        <div *ngFor="let item of chargeItems" class="text-sm row item-row">
          <div class="col-8 product-col">{{item.name + ' ' + item.date}}</div>
          <div class="col-2 quantity-col">x{{item.quantity}}</div>
          <div class="col-2 price-col">${{item.price | number : '1.2-2'}}</div>
        </div>
      </div>
      <div class="col-5 text-sm total-col">
        <app-charge-summary [charge]="charge" [bShowBalance]="true"></app-charge-summary>
      </div>
    </div>

    <div class="payment-method-block" #cc>
      <div class="row label-sm">
        <span i18n="@@PaymentMethod">Payment Method</span>:
      </div>
      <div *ngIf="paymentMethod === PaymentMethod.PREPAY" i18n="@@PayByDeposit">Pay by my deposit</div>

      <app-payment-select *ngIf="paymentMethod !== PaymentMethod.PREPAY" [selected]="paymentMethod" (select)="onSelectPaymentMethod($event)"></app-payment-select>
<!-- 
      <form id="payment-form" *ngIf="paymentMethod === PaymentMethod.CREDIT_CARD">
        <div id="card-element">
        <p id="payment-result">
      </form> -->

      <div class="cash-note" *ngIf="paymentMethod===PaymentMethod.CASH" i18n="@@PayCashNote">*Pay in cash upon delivery</div>
    </div>

    <div class="row warning-block">
      <div class="label-sm text-warning" i18n="@@DeliverWarning">*If you are in condo or office building, Please pickup at the hall, we will not enter the building. In Downtown, our car will stop at the road side near the building.
      </div>
      <div class="label-sm text-warning" i18n="@@PhoneWarning">**Please turn on your phone to answering status.
      </div>
    </div>

    <div class="notes-block">
      <div class="row label-sm">
        <span i18n="@@Notes">Notes</span>:
      </div>
      <div class="row">
        <textarea name="note" formControlName="note" (change)="onNoteChange($event)"></textarea>
      </div>
    </div>
    <input #submitBtn id="btn-submit" [disabled]="bSubmitted" type="submit" name="submitBtn" value="Submit" />
  </form>
</div>

<app-footer [type]="'order'" [enable]="paymentMethod !== PaymentMethod.CREDIT_CARD" (pay)="onSubmitPay()"></app-footer>

</div>
<!-- 
<ngx-smart-modal #myModal identifier="myModal">
  <h3>手机短信验证</h3>
  <div class="row label-sm verify-hint">
    <span i18n="@@VerifyPhoneNumberNote">*In order to contact when we arrive, we may need to call this number.</span>
  </div>
  <form [formGroup]="phoneForm" class="phone-form">
    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@PhoneNumber">Phone Number</span>
        <span>*</span>
      </div>
      <input class="phone" name="phone" type="tel" [maxlength]="10" pattern="[0-9]*" formControlName="phone" (keyup)="onPhoneInput($event)" />
      <div class="btn get-code-btn" (click)="sendVerify()" i18n="@@GetVerificationCode" [ngClass]="bAllowVerify ? 'btn-primary': 'btn-secondary'">Send Code</div>
    </div>

    <div class="row form-group">
      <div class="row label-sm" [class.warning]="!verified">
        <span i18n="@@VerificationCode">Verification Code</span>
        <span>*</span>
      </div>
      <input class="verification-code" type="number" pattern="[\d]*" name="verificationCode" formControlName="verificationCode"
        (keyup)="onVerificationCodeInput($event)" />

      <div class="verification-result">
        <svg *ngIf="verified" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path fill="#0F9D58" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
        </svg>
      </div>

    </div>
    <div class="row form-group signup-block">
      <div *ngIf="phoneMatchedAccount && phoneMatchedAccount.type === 'tmp' && verified" class="btn btn-primary signup-btn" (click)="signup()" i18n="@@SignupAndContinuePay">Signup and Continue Pay</div>
    </div>
  </form>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal> -->