<div class="product-list" *ngIf="products && products.length>0">
  <div class="col-12 list-item" *ngFor="let item of products; let i = index;" (click)="onSelect(item)">
    <div class="row item-body" *ngIf="item">
      <div class="col-6 image-body">
        <img [src]="getProductImage(item)" alt="{{item.name}}">
        <div *ngIf="item.status && item.status===Status.NEW" class="new notify-badge">
          <div class="text-sm" i18n="@@New">New</div>
        </div>
        <div *ngIf="item.status && item.status===Status.PROMOTE" class="promotion notify-badge">
          <div class="text-sm" i18n="@@Promotion">Promotion</div>
        </div>
      </div>
      <div class="col-6 text-body" *ngIf="item">
        <div class="title-bg">{{item.name}}</div>
        <div class="row order-row">
          <div class="col-4 price-col">${{item.price}}</div>
          <div class="col-8 button-col">
            <div class="quantity" *ngIf="item.quantity && item.quantity>0"> x{{item.quantity}}</div>
            <!-- <div class="add-btn" (click)="addToCart(item)">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path fill="#0F9D58" d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
                />
              </svg>
            </div>
            <div class="quantity" *ngIf="item.quantity>0">{{item.quantity}}</div>
            <div class="remove-btn" *ngIf="item.quantity>0" (click)="removeFromCart(item.product)">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path fill="#F4B400" d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
              </svg>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>