@import '../../../base';

.note-row{
  padding: 8px 15px 10px 15px;
  font-size: 14px;
}

.warning-text{
  margin: auto;
  padding-left: 20px;
  margin-top: 230px;
  text-align: center;
  color: #666;
}

.delivery-list{
  overflow: scroll;
  height: 100%;
}


.product-list{
  float: left;
  width: 80%;
  height: calc(100% - 60px);
}

$border-radius: 3px;
$input-h: 38px;




.delivery-list{
  position: absolute;
  top: $input-h + 15px;
  width: calc(100% - 22px);
  // border: 1px solid $border-color;
  // border-radius: $border-radius;
  overflow-y: scroll;
  max-height: 400px;

}

@media #{$mobile}{

}

$border-radius: 3px;



@media #{$mobile}{

}