@import '../../../base';

$imgW:130px;
$imgH:98px;

.list-item{
  padding: 0px 0px 15px 0px;
  float: left;

  .item-body{
    padding: 5px 30px;

    .image-body{
      padding:0px;
      img{
        width: $imgW;
        height: $imgH;
        border-radius: 10px;
      }    
    }

    .notify-badge{
      position: absolute;
      left:-5px;
      top:5px;
      padding-bottom: 0px;
      text-align: center;
      border-radius: 30px;
      color:white;
      padding:3px 5px 0px 5px;
      font-size: 12px;
    }
  
    .new, .promotion{
      background-color: $red;
      color: white;
      .text-sm{
        color: white;
      }
    }

    .text-body{
      padding:0px 0px 0px 16px;

      .title-bg{
        font-size:18px;
        font-weight:500;
      }

      .product-name{
        font-size: 16px;
        font-weight:300;
      }
      .order-row{
        padding-top: 6px;

        .price-col{
          padding-left: 0px;
          padding-right: 0px;
          font-size:18px;
          font-weight:400;
          // color: $red;
        }

        .quantity-col{
          padding: 0px 15px 0px 0px;

          .quantity{
            color: $red;
            font-size: 24px;
            text-align: right;
          }
        }
      }
    }
  }
}

.grid-item:hover{
  background-color: #eee;
}